# This CI will lauch a Docker image that contains all the dependencies required
# within that image the pytest test suite is run

name: CI with install

on:
  pull_request:
    branches:
      - develop
      - main
    paths:
      - "**.py"
      - "**.ipynb"
      - "**.yml"
      - "**.cfg"
      - "**.toml"
      - "**.sh"

jobs:
  testing:
    runs-on: ubuntu-latest
    container:
      image: openmc/openmc:latest-dagmc
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: install package with tests
        run: |
          pip install .[tests]

      - name: Run tests
        run: |
          cd tests
          pytest -v

      - name: Run examples
        run: |
          cd examples/csg_cylinder_box
          python plot.py
          cd ../..

          cd examples/csg_infinite_cylinder
          python plot.py
          cd ../..

          cd examples/csg_spheres_colored_by_material_and_cell
          python plot.py
          cd ../..

          cd examples/csg_spheres_colored_by_material
          python plot.py
          cd ../..

          cd examples/csg_spheres_colored_by_material_with_legend
          python plot.py
          cd ../..

          cd examples/csg_tokamak
          python plot.py
          cd ../..

          cd examples/dagmc_tokamak
          python plot.py
